*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
    header{
        width: 100%;
    }

    header button{
        filter: invert(1);
    }
/* FINE HEADER */

/* MAIN */
    /* START BOOTSTRAP CONTENT */
    .start_bootstrap_content > img{
        width: 60%;
    }

    /* PORTFOLIO CONTENT */
    .portfolio_content > img{
        width: 100%;
        border-radius: 10px;
    }

    /* CONTACT ME CONTENT */
    .contact_me_content form input,
    .contact_me_content form textarea{
        display: block;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .contact_me_content button{
        border-color: #1ABC9C;
    }
/* FINE MAIN */

/* FOOTER */
    /* FOOTER FIRST SECTION */
    .footer_content > p > a{
        text-decoration: none;
    }

    .footer_content > .footer_icon{
        display: inline-block;
    }

    .footer_icon > .footer_circle_icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER SECOND SECTION */
    .footer_content .fa-copyright{
        font-size: 13px;
    }
/* FINE FOOTER */

/* UTILITIES */
    /* TEXT COLOR */
        .txt_white{
            color: #fff;
        }

        .txt_darkblue{
            color: #2C3E50;
        }

        .txt_lightgreen{
            color: #1ABC9C;
        }
    /* FINE TEXT COLOR */

    /* BG COLOR */
        .bgcolor_darkblue{
            background-color: #2C3E50;
        }

        .bgcolor_blue{
            background-color: #3A546D;
        }

        .bgcolor_lightgreen{
            background-color: #1ABC9C;
        }

        .bgcolor_white{
            background-color: #fff;
        }
    /* FINE BG COLOR */

    /* FONT WEIGHT */
        .bold{
            font-weight: 700;
        }
    /* FINE FONT WEIGHT */

    /* STAR ICON */
        .fa-star{
            vertical-align: middle;
        }
    /* FINE STAR ICON */

    /* STAR LINE */
        .star_line{
            display: inline-block;
            width: 70px;
            height: 4px;
            border-radius: 25px;
        }
    /* FINE STAR LINE */
/* FINE UTILITIES */

/* LAYOUT RESPONSIVE */
    /* TABLET */
    @media screen and (min-width: 768px){
        .start_bootstrap_content > img{
            width: 40%;
        }
    }

    /* DESKTOP */
    @media screen and (min-width: 992px){
        .start_bootstrap_content > img{
            width: 30%;
        }
    }
/* FINE LAYOUT RESPONSIVE */

