*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
    /* HEADER LAYOUT */
    /* FINE HEADER LAYOUT */
/* FINE LAYOUT */

/* UTILITIES */
    .border_container{
        border: 4px solid black;
    }

    .border_col{
        border: 4px dashed white;
    }

    .border_col_2{
        border: 4px dashed black;
    }
    
    .border_sub_col{
        border: 2px solid black;
    }

    .h_100{
        height: 100px;
    }
    
    .h_500{
        height: 500px;
    }

    .h_600{
        height: 600px;
    }

    .h_800{
        height: 800px;
    }
    
    .h_start_bootstrap{
        height: calc(400px / 3);
    }

    /* BG COLOR */
        .bgcolor_darkblue{
            background-color: #2C3E50;
        }

        .bgcolor_lightgreen{
            background-color: #1ABC9C;
        }
    /* FINE BG COLOR */
/* FINE UTILITIES */
